html, body{
    margin: 0;
    height: 100%;
}


.container1{
    background-color:#F4EDE4 ;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    height: 500px; 
    z-index: 1;  
}



.content1{
    pointer-events: none;
    user-select: none;
    text-align: center;      /* Align text to the center */
    max-width: 600px;        /* Optional, to limit content width */
    padding: 20px;
    padding-left: 300px;  
    z-index: 1;  
}

.image-1{
    

    height: 550px;
    align-items: flex-start;
    justify-content: flex-end;
    transform: translate(240px, 329px);
    z-index: 1;
}
.image-2{
    height: 250px;
    align-items: flex-start;
    justify-content: flex-end;
    transform: translate(-290px, -180px);
}

.main-desc{
    grid-template-rows: 1fr 1fr; 
    margin: auto;
    transform: translate(-100px, 320px);
}

.name{
        
    transform: translate(-180px, -565px); 
    
}
.name h4{
    margin-top: 1px;
    font-size: 90px;
    text-align: center;
    color: #475B40;
    font-family: 'Dancing Script', cursive;   
}

.title-name{
    transform: translate(-180px, -740px); 
    margin: auto;
    text-align: center;
    width: 500px;
    color: #475B40;
    font-size: 23px;
    font-family: 'Playfair Display', sans;
}

.sub-desc {
    transform: translate(-180px, -750px); 
    width: 630px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    color: #475B40;
}
.container2{
    background-color: #475B40;  ;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    height: 250px; 
    z-index: 2;  
}
    .container2 h5{
        text-align: center;
      
        font-weight: lighter;
        transform: translate(-150px, 20px); 
        margin: auto;
        font-size: 14px;
        color: #F4EDE4;
        font-family: Arial, Helvetica, sans-serif
    
    }

    .content2   {
   
        user-select: none;
        text-align: center;      /* Align text to the center */
        max-width: 600px;        /* Optional, to limit content width */
        padding: 20px;
        padding-left: 300px;  
        z-index: 1;  
    }


        .image-3{
  
            height: 80px;
            align-items: flex-start;
            justify-content: flex-end;
            transform: translate(-480px, 70px);
        }

        .image-4{
          
            height: 120px;
            align-items: flex-start;
            justify-content: flex-end;
            transform: translate(170px, -44px);
        }