body{
  margin: 0;
}
/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .navbar a, .navbar-links, .navbar, .navbar-title {
    float: none;
    display: block;
  }
}

.logo-image{
  float:left;
  width:10%;
  height: auto;
}

.navbar{
    overflow:hidden;
    background-color: #475B40;
    font-family: Arial;
    position:relative;
    padding: 1rem;
}

.navbar-links{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center links */
}

.navbar a {
  float: left;   
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}

    .navbar a:hover{
      background-color: #FFFFFF;
      color: #D3B64E;
    }

    .navbar a.active{
      text-decoration: underline  ;
    }

    .navbar-title{
      position:absolute;
      top: 1px;
      color:white;
      
    }
